@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

html {
  height: 100%;
  position: relative;
  font-size: 16px;
  background: linear-gradient(rgb(114,67,151),rgb(160,115,151)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: 'Open Sans', sans-serif;

}
h3, p, input {
  font-family: 'Roboto', sans-serif;

}
#root {
  text-align: center;
  width:100%;
  padding-top:2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}



